<a href="https://colab.research.google.com/github/divyaa-vermaa03/Practice_codes/blob/main/Compacting_the_Code_List_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Compacting the Code - List Comprehension

In [1]:
dna1 = input("Enter first DNA sequence: ")
dna2 = input("Enter second DNA sequence: ")

Enter first DNA sequence: atcggtacg
Enter second DNA sequence: tcacgcgcc

In [10]:
print(dna1)
print(dna2)

atcggtacg
tcacgcgcc

In [ ]:
print(dna1[2])

In [12]:
# calculating HD
# calculation equal distance
print(dna1)
print(dna2)
if len(dna1)==len(dna2):
  count=0
  for i in range(len(dna1)):
    if (dna1[i]) != (dna2[i]):
      count+= 1
      print(i,(dna1[i], dna2[i]))
  print("HD =",count)
else:
  print("Dna sequence mismatched")

atcggtacg
tcacgcgcc
0 ('a', 't')
1 ('t', 'c')
2 ('c', 'a')
3 ('g', 'c')
5 ('t', 'c')
6 ('a', 'g')
8 ('g', 'c')
HD = 7

In [2]:
  # Generating table of a number till 10 times as a list
  num = int(input("Enter a number: "))

Enter a number: 5

In [14]:
 # conventional way
 multiples =[]
 for i in range(1,11):
   multiples.append(num*i)
 print(multiples)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [3]:
# with list comprehension
# x = [<expression>, iteration]
multiples = [num*i for i in range(1,11)]
print(multiples)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [4]:
# list comprehension also include if statement
multiples = [num*i for i in range(1,11) if num*i%2==0]
print(multiples)

[10, 20, 30, 40, 50]

In [5]:
# Example 2
# extract all the names from the list with the letter "A"

names = ["divya","dhruv","gaurav","mukul","anisha","dimple","dakshita","drishti","megha","riya"]

In [7]:
names_A = []
for i in names:
  if i.startswith("d"):
    names_A.append(i)
print(names_A)

['divya', 'dhruv', 'dimple', 'dakshita', 'drishti']

In [12]:
# Biological example
dna = ["AATCGCA","TCATGATCG","ATCGATCG","GCTAGCGCG","ATCGACGTAC","AATCG","ATCG","ATT"]

In [13]:
dna_A =[i for i in dna if i.startswith("A")]
print(dna_A)

['AATCGCA', 'ATCGATCG', 'ATCGACGTAC', 'AATCG', 'ATCG', 'ATT']

In [19]:
dna_A =[i for i in dna if len(i)>4 and len(i)<=8 ]
print(dna_A)

['AATCGCA', 'ATCGATCG', 'AATCG']